<div class="row mb-5 animate__animated animate__fadeIn animate__delay-1s">

    <div class="col-sm-12 col-md-4">
        <img src="../../../assets/img/cgcabrera v2020.png" class="img-fluid" alt="logo_empresa">
    </div>
    <div class="col-sm-12 col-md-8 text-center av-info-empresa">

            <h2 class="card-title av-representante">Cristián Cabrera Valenzuela</h2>
            <p class="card-text text-muted av-slogan">Gestión y Administración de Recursos TI</p>
            <p class="card-text av-nombre-empresa">CGCABRERA SpA</p>
        
    </div>

</div>
<div class="row row-cols-2 row-cols-md-4 text-center text-white animate__animated animate__fadeInDown">
    <a class="text-white" [routerLink]="['/task']">
        <div class="col">
            <div class="card av-borde-primario mb-3">
                <div class="card-header av-bg-primario">Hoy</div>
                <div class="card-body text-dark">
                    <h1 class="card-text">{{ tareasInicio.length}}</h1>
                    <small class="text-dark">Tareas</small>
                </div>
            </div>
        </div>
    </a>
    <div class="col">
        <div class="card av-borde-secundario mb-3">
            <div class="card-header av-bg-secundario">Pendientes</div>
            <div class="card-body text-dark">
                <h1 class="card-text">{{ tareasPendientes.length}}</h1>
                <small class="text-dark">Tareas</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card av-borde-tercero mb-3">
            <div class="card-header av-bg-tercero">Completadas</div>
            <div class="card-body text-dark">
                <h1 class="card-text">{{ tareasCompletadas.length}}</h1>
                <small class="text-dark">Tareas</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card av-borde-cuarto mb-3">
            <div class="card-header av-bg-cuarto">{{ diaNombre }}</div>
            <div class="card-body text-dark">
                <h1 class="card-text">{{ dia }}</h1>
                <small class="text-dark">{{ mes }} - {{ anio }}</small>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-sm-12 col-md-4 mt-3">
        <div class="list-group" id="list-tab" role="tablist" *ngFor="let inicio of tareasCompletadas" >
            <a class="list-group-item"  data-toggle="list"
            href="#{{ inicio.titulo | replace }}" role="tab" aria-controls="home">{{ inicio.titulo }}</a>
        </div>
    </div>
    <div class="col-sm-12 col-md-8 mt-3">
        <div class="tab-content" id="nav-tabContent" *ngFor="let inicio of tareasCompletadas">
            <div class="tab-pane fade" id="{{ inicio.titulo | replace }}" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3>{{ inicio.titulo }}</h3>
                        </div>
                        <div class="col-6">
                            <h3>{{ diaNombre }} {{ dia }}, {{ mes }} {{ anio }}</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row mt-2">
                        <div class="col-12">
                            <p>{{ inicio.descripcion }}</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div> -->