<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="av-mat-toolbar">Menu</mat-toolbar>
    <mat-nav-list class="mat-nav-list">
      <a mat-list-item [routerLink]="['/home']">Inicio</a>
      <a mat-list-item [routerLink]="['/task']">Tareas</a>
      <a mat-list-item [routerLink]="['/users']">Usuarios</a>
    </mat-nav-list>
    <hr class="av-divisor">
    <div *ngIf="infoUsuario" class="av-user-content animate__animated animate__fadeIn animate__slow">
      <div class="av-img-user">
        <img src="assets/img_usuarios/hombre.jpg" alt="..." class="av-img rounded-circle">
      </div>
      <div class="av-info-user">
        <strong>{{ usuario.nombre }} {{ usuario.apellido }}</strong>
        <small>{{ usuario.correo }}</small>
      </div>
      <button (click)="logout()" class="btn btn-outline-danger btn-block btn-sm">Salir</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="av-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>tareas</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
