<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4 animate__animated animate__fadeIn animate__slow"  *ngFor="let usuario of usuarios">
        <div class="card h-100">
            <img src="assets/img_usuarios/hombre.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">{{usuario.nombre}} {{usuario.apellido}}</h3>
                <p class="card-text">{{ usuario.correo}}</p>
            </div>
        </div>
    </div>
</div>
