/* You can add global styles to this file, and also import other style files */


/* ------ ------ ------ ------ */
/* VARIABLES COLORES */
/* ------ ------ ------ ------ */
:root {
    --color-primario: #ff7315;
    --color-secundario: #3a3535;
    --color-tercero: #232020;
    --color-cuarto: #f4f4f4;
}



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-cuarto);
}

a{
    color: var(--color-tercero);
    transition: .2s ease-in;
}

a:hover{
    color: var(--color-primario);
    text-decoration: none;
}

.av-contenedor-app{
    padding: 2em;
    width: 100%;
}
ul, p{
    padding: 0;
    margin: 0;
}

.boton{
    background-color: var(--color-primario);
    color: var(--color-cuarto);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop{
    z-index: 0;
}

h3{
    color: var(--color-primario);
}

label{
    color: var(--color-primario);
}

p{
    color: var(--color-tercero);
}
