/* You can add global styles to this file, and also import other style files */


/* ------ ------ ------ ------ */
/* VARIABLES COLORES */
/* ------ ------ ------ ------ */
:root {
    --color-primario: #86D7C1;
    --color-secundario: #28C3EA;
    --color-tercero: #106A8C;
    --color-cuarto: #263955;
}



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-cuarto);
}

a{
    color: var(--color-tercero);
    transition: .2s ease-in;
}

a:hover{
    color: var(--color-primario);
    text-decoration: none;
}

.av-contenedor-app{
    padding: 2em;
    width: 100%;
}
ul, p{
    padding: 0;
    margin: 0;
}

.boton{
    background-color: var(--color-primario);
    color: var(--color-cuarto);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-backdrop{
    z-index: 0;
}

h3{
    color: var(--color-primario);
}

label{
    color: var(--color-primario);
}

p{
    color: var(--color-tercero);
}

.av-bg-primario{
    background-color: var(--color-primario);
}

.av-bg-secundario{
    background-color: var(--color-secundario);
}

.av-bg-tercero{
    background-color: var(--color-tercero);
}

.av-bg-cuarto{
    background-color: var(--color-cuarto);
}

.av-borde-primario{
    border-color: var(--color-primario);
}

.av-borde-secundario{
    border-color: var(--color-secundario);
}

.av-borde-tercero{
    border-color: var(--color-tercero);
}

.av-borde-cuarto{
    border-color: var(--color-cuarto);
}
